// Headings

h1, h2, h3,
h4, h5, h6 {

}

h2 {
    font-size: 2rem;
}

.section-heading {
    border-bottom: 1px solid $primary;
    margin-bottom: 1rem;

    .subheading {
        display: block;
        margin-bottom: 0.75rem;
    }
}
